In [ ]:
!gdown 1n4_W5MFqv029cQ6_CRM7MKom0c6gdIhc

Downloading...
From: https://drive.google.com/uc?id=1n4_W5MFqv029cQ6_CRM7MKom0c6gdIhc
To: /content/your_file_with_risk_categories.csv
100% 20.5M/20.5M [00:00<00:00, 56.1MB/s]

In [ ]:
import pandas as pd
df=pd.read_csv('your_file_with_risk_categories.csv')

In [ ]:
df

,Unnamed: 0,LOAN_TYPE,GENDER,OWN_CAR,OWN_HOUSE,CNT_CHILDREN,ANNUAL_INCOME,LOAN_AMOUNT,LOAN_ANNUITY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,MARITAL_STATUS,OCCUPATION,Age,Cluster,Risk Category
0,0,0,1,0,1,0,202500.0,406597.5,24700.5,7,4,3,8,67,1,Medium Risk
1,1,0,0,0,0,0,270000.0,1293502.5,35698.5,4,1,1,3,65,0,Low Risk
2,2,1,1,1,1,0,67500.0,135000.0,6750.0,7,4,3,8,22,2,High Risk
3,3,0,0,0,1,0,135000.0,312682.5,29686.5,7,4,0,8,40,1,Medium Risk
4,4,0,1,0,1,0,121500.0,513000.0,21865.5,7,4,3,3,22,1,Medium Risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307494,307506,0,1,0,0,0,157500.0,254700.0,27558.0,7,4,2,14,52,1,Medium Risk
307495,307507,0,0,0,1,0,72000.0,269550.0,12001.5,3,4,5,18,66,1,Medium Risk
307496,307508,0,0,0,1,0,153000.0,677664.0,29979.0,7,1,2,10,49,1,Medium Risk
307497,307509,0,0,0,1,0,171000.0,370107.0,20205.0,1,4,1,8,48,1,Medium Risk
307498,307510,0,0,0,0,0,157500.0,675000.0,49117.5,1,1,1,8,50,0,Low Risk

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load your dataset (replace 'your_dataset.csv' with your actual file)
data = df

# Define attribute weights (replace with actual weights)
attribute_weights = {
    'LOAN_TYPE': 0.1,
    'GENDER': 0.2,
    'OWN_CAR': 0.15,
    'OWN_HOUSE': 0.1,
    'CNT_CHILDREN': 0.1,
    'ANNUAL_INCOME': 0.1,
    'LOAN_AMOUNT': 0.1,
    'LOAN_ANNUITY': 0.05,
    'NAME_INCOME_TYPE': 0.05,
    'NAME_EDUCATION_TYPE': 0.05,
    'MARITAL_STATUS': 0.05,
    'OCCUPATION': 0.05,
    'Age': 0.05
}

# Split data into features and labels
X = data.drop(columns=['Risk Category'])  # Features
y = data['Risk Category']  # Labels

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest Classifier with attribute weights
model = RandomForestClassifier(n_estimators=100, random_state=42, class_weight='balanced')
model.fit(X_train, y_train)

# Predict using the trained model
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 1.00